.main {

    .container {

        .container__box {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            padding: 1rem;
            background: $gradient-color;
            box-shadow: $shadow;
            border-radius: .5rem;
            text-align: center;

            h1 {
                text-transform: uppercase;
                font-weight: 1000;
                letter-spacing: 1px;
                color: $blue2-color;
            }

            .box-title {
                width: 100%;
                align-items: center;
                justify-content: space-around;
                flex-wrap: nowrap;
                margin: 1.5rem 0;

                p {
                    font-weight: 700;
                }

                .time {
                    align-items: center;
                    justify-content: center;
                    width: 2.5rem;
                    height: 2.5rem;
                    box-shadow: $shadow;
                    background: $blue2-color;
                    border-radius: 5rem;
                    color: $white-color;
                    font-weight: 700;
                }

                .team {
                   width: 12rem;

                   img {
                        width: 3.5rem;
                        height: 3.5rem;
                        border-radius: .5rem;
                        padding: .3rem;
                        background: $blue2-color;
                        box-shadow: $shadow;
                   }

                   .home-name, .away-name {
                        margin-block-start: .5rem;
                        text-transform: capitalize;
                   }
                }

                .goals {
                    box-shadow: $shadow;
                    padding: .5rem;
                    background: $blue2-color;
                    border-radius: .5rem;
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }

            .matches {
                flex-direction: column;
                height: 4rem;
                margin-block-start: 3.5rem;
                border-top: 2px solid $blue2-color;
            }


            /*==========JavaScript==========*/
            .matches-titles {
                position: relative;
                left: 50%;
                transform: translate(-50%);
                margin: 1rem 0;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 3.5rem;
                    height: 3.5rem;
                    border-radius: .5rem;
                    padding: .3rem;
                    box-shadow: $shadow;
                }

                p {
                    font-weight: 700;
                }

                .goals {
                    font-size: 1.1rem;
                    font-weight: 700;
                }

                .team {
                    width: 7rem;
                }
            }
        }
    }
}


